@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css");

@font-face {
  font-family: "Stanley";
  src: url("fonts/Stanley.otf");
}

@font-face {
  font-family: "Emberly Bold";
  src: url("fonts/Emberly-Bold.otf");
}

@font-face {
  font-family: "Emberly Narrow";
  src: url("fonts/Emberly-Narrow.otf");
}

@font-face {
  font-family: "Emberley Thin";
  src: url("fonts/Emberly-Thin.otf");
}

body {
    font-family: 'Emberly Medium', 'Lucida Sans', 'Lucida Sans Regular';
    background-color: #e7e7e7;
}


.link,
.link:hover,
.link:active,
.link:link,
.link:visited,
.link:focus {
    color: #000;
    text-decoration: none;
}

.price-font  {
    font-family: 'Emberly Medium', 'Lucida Sans' !important;
    font-weight: 700 !important;
}

img {
    max-width: 100%;
}

.container-fluid {
    padding: 0;
}

nav {
    font-family: 'Emberly Narrow', 'Lucida Sans', 'Lucida Sans Regular';
    font-size: 1.5rem;
}

.nav__wrapper {
    background-color: #d6d7d8;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.nav-icons {
    font-size: 1.5rem;
}

.bi-justify-right {
    font-size: 2rem;
}

.profile-icon {
    font-size: 1.5rem;
}

.mburger {
    width: 30px;
}

.logo {
    font-size: 1.6rem;
    font-family: "Stanley";
}

.blog-title-logo {
    font-size: 3rem;
}

.logo-font {
    font-family: "Stanley";
}

hr {
    width: 70%;
}

.message-heart {
    color: #db504a;
}

.message-truck {
    color: #faf0ca;
}

.update-link,
.remove-item {
    cursor: pointer;
}

/* Toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 999999999;
}

.toast-close {
    background-color: #fff;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* colors taken from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* search placeholder */
input[name='q']::placeholder {
    color: #aab7c4;
}

/* HOME PAGE */

.offers {
    background-color: #131212;
    padding: 10px;
    color: #fff;
}

.hero-section {
    background-image: url(/media/hero1.jpg);
    background-size: cover;
    height: 700px;
    width: 100%;
}

.hero-section-2 {
    background-image: url(/media/hero2.jpg);
    background-size: cover;
    background-position: center;
    height: 700px;
    width: 100%;
}

.hero-text1 {
    font-size: 5rem;
    margin-top: 220px;
    margin-left: 20px;
    font-family: 'Emberly Narrow', 'Lucida Sans', 'Lucida Sans Regular';
}

.hero-text2 {
    font-size: 5rem;
    margin-top: 120px;
    margin-left: 20px;
    line-height: 1.1;
    font-family: 'Emberly Narrow', 'Lucida Sans', 'Lucida Sans Regular';
}

.look-header {
    font-size: 3rem;
    font-family: 'Emberly Narrow', 'Lucida Sans', 'Lucida Sans Regular';
}

.sustainable-header {
    background-color: rgba(0, 0, 0, 0.5);
}

footer {
    background-color: #f7f7f7;
    width: 100%;
    padding: 1.3rem;
    font-family: 'Emberly Narrow', 'Lucida Sans', 'Lucida Sans Regular';
}

.footer-link-wrapper {
    display: flex;
    flex-direction: column;
}

.footer-link-text {
    font-size: 3rem;
    line-height: 1.1;
}

.footer-logo {
    color: #fff;
    font-size: 1.5rem;
    margin-bottom: .5rem;
}

.footer-socials {
    color: #fff;
    font-size: 1.5rem;
}

.copyright__text {
    font-size: .8rem;
    color: #fff;
}

.bi-heart-fill {
    color: #d03623;
}

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #000000; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;


    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #000000; /* text-info */
}

/* checkout templates */
/* checkout success back to button arrow icon */

.bi-caret-left-fill {
    color: #fff;
}

.thanks-header {
    font-size: 4rem;
}

.blog-link:hover {
    text-decoration: underline;
}

/* product form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

/* collapse product detail */

.custom-collapse-content,
#collapseExample.in,
#collapseExample.collapsing {
  width: 100%;
  display: inline-block;
}

.spring-img-1 {
    max-width: 670px;
    max-height: 700px;
}

.spring-img-2 {
    max-width: 340px;
    max-height: 370px;
    
}

.spring-img-3 {
    max-width: 340px;
    max-height: 370px;
}

.spring-img-section {
    max-width: 992px;
}

.sustainable-header-img {
    background-image: url(https://res.cloudinary.com/ivanprojects/image/upload/v1619981676/bespoke_ybtln2.jpg);
    background-size: cover;
    background-position: center;
    height: 200px;
    color: #fff;
}

.category-img {
    max-height: 600px;
    position: relative;
}

.category-img-text {
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 2rem;
    font-family: 'Emberly Narrow', 'Lucida Sans', 'Lucida Sans Regular';
}

/* contact templates */
/* contact page */

.contact-text {
    max-width: 70vw;
}

/* bag templates */
/* bag page */
.item-links-wrapper {
    flex-direction: column;
}

/* media queries */

@media (min-width: 420px) { 
    .logo {
        font-size: 2rem;
    }

    .logo-and {
    font-size: 1rem;
    }
}

@media (min-width: 576px) { 
    .logo {
        font-size: 3rem;
    }
    .logo-and {
    font-size: 1.5rem;
    }

    .item-links-wrapper {
    flex-direction: row;
    }
}

@media (min-width: 768px) {
    
}

@media (min-width: 992px) {
    
}

@media (min-width: 1200px) {
    
}

@media (min-width: 1600px) {
    
}

@media (min-width: 2000px) {
    
}

/* transitions */

/* Bounce In */
.hvr-bounce-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-in:hover, .hvr-bounce-in:focus, .hvr-bounce-in:active {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

/* products templates */
/* products page */
.delete__icon {
    cursor: pointer;
}

/* product detail page */
.comment-field {
    background-color: #b5b5b5;
    padding: 1rem;
}


/* about us page */

.sister-main-text {
    width: 60vw;
    max-width: 768px;
    margin: 0 auto 50px auto;
}

.sister-img {
    margin: 0 auto;
}

.sister-text-detail {

}

