<div class="row w-100">
          <div class="col d-flex align-items-center justify-content-center p-0">
                <a class="link mburger mburger--tornado" href="#my-menu">
                    <b></b>
                    <b></b>
                    <b></b>
                </a>
                {% if request.user.is_authenticated %}
                    <a class="nav-link" href="{% url 'profile' %}">
                        <i class="bi bi-person-check-fill profile-icon link"></i>
                    </a>
                {% else %}
                    <a class="nav-link" href="{% url 'account_login' %}">
                        <i class="bi bi-person-circle profile-icon link"></i>
                    </a>         
                {% endif %}
                <nav id="my-menu">
                    <ul>
                        <li class="nav-item"><span>The Collection</span>
                            <ul>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'products' %}?category=bracelets">Bracelets</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'products' %}?category=rings">Rings</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'products' %}?category=necklaces">Necklaces</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'products' %}?category=exclusives">Exclusives</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" 
                                    href="{% url 'products' %}">All Pieces</a>
                                </li> 
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'about' %}">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'contact' %}">Contact Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'posts' %}">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'support' %}">Support/FAQ</a>
                        </li>
                        {% if request.user.is_authenticated %}
                            {% if request.user.is_superuser %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'add_product' %}">Product Management</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'add_post' %}">Blog Management</a>
                                </li>
                            {% endif %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'profile' %}">My Account</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
                            </li>
                        {% else %}
                            
                            
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'account_signup' %}">Register</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'account_login' %}">Login</a>
                            </li>
                            
                        {% endif %}
                    </ul>
                </nav>
          </div>
          <div class="col justify-content-center mx-auto d-flex align-items-center p-0">
            <div class="nav-item">
                <a href="{% url 'home' %}" class="navbar-brand mx-auto logo">
                MY <span class="logo-and">&</span> LINN
                </a>
            </div>
          </div>
          <div class="col justify-content-center d-flex mx-auto p-0">
            <div class="row nav-icons d-flex align-items-center">
                <div class="col d-flex align-items-center">
                    <div class="nav-item">
                        <div class="dropdown">
                        <a
                            class="btn"
                            type="button"
                            id="dropdownMenuButton1"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                        >
                            <i class="bi bi-search"></i>
                        </a>
                        <ul
                            class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start border-0 bg-transparent"
                            aria-labelledby="dropdownMenuButton1"
                        >
                            <li>
                            <form method="GET" action="{% url 'products' %}">
                                <div class="input-group w-100">
                                <input
                                    class="form-control rounded"
                                    type="text"
                                    name="q"
                                    placeholder="Search our site"
                                />
                                <div class="input-group-append">
                                    <button
                                    class="form-control btn rounded"
                                    type="submit"
                                    >

                                    </button>
                                </div>
                                </div>
                            </form>
                            </li>
                        </ul>
                        </div>
                    </div>
                    <div class="nav-item">
                        <a href="{% url 'view_bag' %}" class="{% if grand_total %} font-weight-bold{% else %}text-secondary{% endif %} nav-link link">
                            <div class="text-center">
                                <div><i class="bi bi-basket"></i></div>
                                <p class="my-0 fs-6">
                                    {% if bag_items %}
                                        {{ product_count }}
                                    {% else %}
                                        
                                    {% endif %}
                                </p>
                            </div>
                        </a>
                        
                    </div>
                </div>
            </div>
          </div>
        </div>