{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

<main>
    <div class="container">
        <div class="row">
            <h1 class="blog-title text-center my-5">Words by ...  <span class="logo-font blog-title-logo">MY & LINN</span></h1>
            <div class="row">
            <hr class="my-5 mx-auto">
                {% for post in posts %}
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                    <div class="card h-100 border-0 mb-5 text-center">
                        {% if post.image %}
                        <a href="{% url 'post_detail' post.id %}">
                            <img src="{{ post.image.url }}" class="card-img-top" alt="image of {{ post.title }}">
                        </a>
                        {% else %}
                        <a href="{% url 'post_detail' post.id %}">
                            <img src="https://res.cloudinary.com/ivanprojects/image/upload/v1617135607/send-it-images/no-image_e47frw.jpg" class="card-img-top" alt="image stating {{ post.title }} has no image">
                        </a>
                        {% endif %}
                        <div class="card-body">
                            <p class="card-text fs-1 text-center">{{ post.title }}</p>
                            <p class="card-text fs-4 text-center">{{ post.preview}}</p>
                            {% if request.user.is_superuser %}
                                <!-- edit post button -->
                                <a href="{% url 'edit_post' post.id %}" class="link">
                                    <i class="bi bi-pencil-square fs-3"></i>
                                </a>

                                <!-- delete post modal button -->
                                    <!-- Button trigger modal -->
                                    <a class="delete__icon link" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal">
                                        <i class="bi bi-trash fs-3"></i>
                                    </a>

                                    <!-- Modal -->
                                    <div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModal" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="confirmDeleteModalLabel">Confirm Delete</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    Are you sure you want to delete {{ post.title}}?
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                    <a href="{% url 'delete_post' post.id %}" type="button" class="btn btn-danger">Delete</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
                <hr class="my-5 mx-auto">
            </div>
        </div>
    </div>
</main>

{% endblock %}
