{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

<main>
    <div class="container">
        <div class="row">
            <h1 class="blog-title text-center mx-3">Words by My & Linn</h1>
            <div class="col-lg-6">
                <img src="https://s3.eu-west-2.amazonaws.com/luxurylondon.co.uk-storage-bucket-001/images/020221115620/billboard/sustainable-jewellery-brands.jpg" class="post-image" alt="Image representing blog post">
            </div>
            <div class="col-lg-6">
                
            </div>
        </div>
    </div>
</main>

{% endblock %}
