{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block inner_content %}
    <hr class="my-5 mx-auto">
    <h2 class="fs-2 mb-4">{% trans "Set Password" %}</h2>
    <hr class="my-5 mx-auto">

    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" name="action" class="my-4" value="{% trans 'Set Password' %}"/>
    </form>
{% endblock %}
