{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container h-100">

    <h1 class="text-center my-5">ABOUT US</h1>

    <div class="row">
        <div class="col mx-auto">
            <h3 class="text-center mb-3">Sister Act</h3>
            <p class="text-center sister-main-text">
                Having learned at a young age from their parents the art of creating something beautiful out of a lump of clay, the two sisters expanded their horizons and got into jewelry making, silversmithing and goldsmithing. They have created pieces for some of Swedens biggest musicians and actors & they continue to generate a hype on social media with their trendy unique pieces.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md">
            <p class="text-center my-3 fs-1">My</p>
            <img src="{{MEDIA_URL}}my.jpg" class="img-fluid sister-img" alt="A picture of site owner My">
            <p class="text-center sister-detail-text my-5">
                My is a quiet, unassuming force of nature . With an ability to create prestine pieces of jewelry out of seemingly unusable bits of material, she really is taking her craft to the next level.
            </p>
        </div>

        <div class="col-md sister-detail-section">
            <p class="text-center my-3 fs-1">Linn</p>
            <img src="{{MEDIA_URL}}linn.jpg" class="img-fluid sister-img" alt="A picture of site owner Linn">
            <p class="text-center sister-detail-text my-5">
                Linn is a wondering soul brought back to Stockholm by the ongoing pandemic. She takes in cultures from all over the world and attempts to output them in whatever she creates.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <p class="fs-5">To book a consultation or for any other queries</p>
            <p class="fs-3 mb-5">Email us at info@mylinn.com</p>
        </div>
    </div>
    
</div>

{% endblock %}
