{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container h-100">

    <h1 class="text-center my-5">CONTACT</h1>
    
    <div class="mx-auto mb-5 contact-text">
        <p class="d-flex align-items-center justify-content-center fs-2">For questions, ideas, thoughts or just a quick chat, email us at ... </p>
        <p class="d-flex align-items-center justify-content-center fs-1"><a href="mailto:lupaka91@gmail.com" class="link">info@mylinn.com</a></p>
        <hr class="my-5 mx-auto">
        <p class="d-flex align-items-center justify-content-center fs-2">Or call our workshop at ...</p>
        <p class="d-flex align-items-center justify-content-center fs-1">+46 720 2202 02</p>
    </div>
</div>

{% endblock %}
