<div class="toast custom-toast rounded-border-top-0" data-bs-animation="true" autohide="false" role="alert">
    <div class="toast-header bg-transparent text-dark">
        <strong class="mx-auto fs-5">ERROR! &#128683;</strong>
        <button type="button" class="ml-5 mb-1 close text-dark bg-transparent border-0 toast-close" data-bs-dismiss="toast" aria-label="Close">
            <i class="bi bi-x-circle fs-5"></i>
        </button>
    </div>
    <div class="toast-body bg-transparent text-center">
        {{ message }}
    </div>
</div>