{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container h-100">

    <h2 class="text-center my-5">Support</h2>

    <hr class="my-5 mx-auto">

    <div class="mx-auto my-5">
        <h3 class="text-center">Returns & Exchange Policy</h3>
        <p>
            We hopes you will be absolutely delighted with your jewellery. If for any reason you are not entirely satisfied with your purchase we are happy to offer an exchange or credit note within 30 days of purchase. <br> 
            Alternatively, we can refund a sale made through this website if it is returned unworn, in perfect condition, and in its original packaging within 14 working days of your receipt of the order.
        </p>
        <p>
            Purchases exempt from both the refund and exchange policies, unless they are structurally faulty, are:
            <ul>
                <li>Made to order pieces</li>
                <li>Commissioned pieces (bespoke)</li>
                <li>Customised pieces</li>
            </ul>
            ​To return an online purchase, please contact hello@ellismhairicameron.com for further details. Please include your order number in the email. <br>
            In the interests of fraud prevention, your refund will be issued by the same method by which you paid within 28 days of receipt of the return.
        </p>
    </div>

    <hr class="my-5 mx-auto">

    <h3 class="text-center my-5">FAQ</h3>
    
    <div class="mx-auto mb-5">
        <div class="accordion" id="faq-accordion">
            <div class="accordion-item">
                <h2 class="faq-accordion-header" id="faq-heading-1">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq1" aria-expanded="true" aria-controls="faq1">
                    HOW DO I ORDER ONLINE?
                </button>
                </h2>
                <div id="faq1" class="accordion-collapse collapse" aria-labelledby="faq-heading-1" data-bs-parent="#faq-accordion">
                    <div class="accordion-body">
                        Payments online can be made through debit card or credit card. You will receive an email confirming your order has been placed when the payment has been taken. If you are having issues with online payments please contact info@mylinn.com.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="faq-accordion-header" id="faq-heading-2">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2" aria-expanded="true" aria-controls="faq2">
                    DO YOU SHIP WORLDWIDE?
                </button>
                </h2>
                <div id="faq2" class="accordion-collapse collapse" aria-labelledby="faq-heading-2" data-bs-parent="#faq-accordion">
                    <div class="accordion-body">
                        <p>
                            Yes we ship worldwide - for full details please see the 'Shipping & Returns' section.
                        </p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="faq-accordion-header" id="faq-heading-3">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq3" aria-expanded="true" aria-controls="faq3">
                    DO YOU COVER CUSTOM FEES / IMPORT DUTIES?
                </button>
                </h2>
                <div id="faq3" class="accordion-collapse collapse" aria-labelledby="faq-heading-3" data-bs-parent="#faq-accordion">
                    <div class="accordion-body">
                        <p>
                            Our customers are responsible for any duties and taxes according to their jurisdiction. We can however often advise you of what the fees might be based on our shipping provider’s estimates.
                        </p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="faq-accordion-header" id="faq-heading-4">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq4" aria-expanded="true" aria-controls="faq4">
                    WHAT IS YOUR RETURNS POLICY?
                </button>
                </h2>
                <div id="faq4" class="accordion-collapse collapse" aria-labelledby="faq-heading-4" data-bs-parent="#faq-accordion">
                    <div class="accordion-body">
                        <p>
                            For Returns, please see the 'Shipping & Returns' section.
                        </p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="faq-accordion-header" id="faq-heading-5">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq5" aria-expanded="true" aria-controls="faq5">
                    HOW LONG WILL MY JEWELLERY TAKE TO ARRIVE?
                </button>
                </h2>
                <div id="faq5" class="accordion-collapse collapse" aria-labelledby="faq-heading-5" data-bs-parent="#faq-accordion">
                    <div class="accordion-body">
                        <p>
                            Delivery time varies depending on the collection. You will receive the product within 1-2 working days within Sweden, and 2-5 working days for other countries. <br>
                            Maximum delivery time is 8 weeks if the item has been made to order, you will be emailed if that is the case. <br>
                            If you have left it a bit late and need something sooner than the delivery time stated, or by a specific date, then just email info@mylinn.com.
                        </p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="faq-accordion-header" id="faq-heading-6">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq6" aria-expanded="true" aria-controls="faq6">
                    IS EVERY PIECE ONE OF A KIND?
                </button>
                </h2>
                <div id="faq6" class="accordion-collapse collapse" aria-labelledby="faq-heading-6" data-bs-parent="#faq-accordion">
                    <div class="accordion-body">
                        <p>
                            Each piece of jewellery is completely handmade in our Stockholm workshop, so every piece is unique. Due to this, small variations will occur with each piece, resulting in slight differences from photographs you may have seen. Colours may vary marginally, and there may be small differences in stone size.
                        </p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="faq-accordion-header" id="faq-heading-7">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq7" aria-expanded="true" aria-controls="faq7">
                    CAN I COMMISSION A BESPOKE / CUSTOM PIECE OF JEWELLERY?
                </button>
                </h2>
                <div id="faq7" class="accordion-collapse collapse" aria-labelledby="faq-heading-7" data-bs-parent="#faq-accordion">
                    <div class="accordion-body">
                        <p>
                            If you’re looking for something completely unique, within the My & Linn aesthetic, we offers a private consultation with us in person, via video chat, or over the phone. This is an exclusive opportunity to learn about our creative process and bring to life an original piece of jewellery for you to treasure.
                        </p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="faq-accordion-header" id="faq-heading-8">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq8" aria-expanded="true" aria-controls="faq8">
                    DO YOU OFFER A WARRANTY ON YOUR JEWELLERY?
                </button>
                </h2>
                <div id="faq8" class="accordion-collapse collapse" aria-labelledby="faq-heading-8" data-bs-parent="#faq-accordion">
                    <div class="accordion-body">
                        <p>
                            Every piece made by us is designed to be worn and loved everyday, but as with all fine jewellery, it should be treated with care. We provides a one year warranty on all pieces of jewellery from the date of purchase, provided it has not been worked on by another jeweller or if the damage goes beyond accepted patterns of wear. Beyond the warranty period, we will quote for any necessary repairs on a case by case basis.
                        </p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="faq-accordion-header" id="faq-heading-9">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq9" aria-expanded="true" aria-controls="faq9">
                    MY ITEM WAS RECEIVED/DELIVERED DAMAGED, WHAT SHOULD I DO?
                </button>
                </h2>
                <div id="faq9" class="accordion-collapse collapse" aria-labelledby="faq-heading-9" data-bs-parent="#faq-accordion">
                    <div class="accordion-body">
                        <p>
                            If your item was delivered or received damaged please notify us within 48 hours so that we can look into it. It would help us out if you could take 1 or 2 photos of the issue and email it to us along with the order number and a quick description. Don't worry though, we will be able to send you a replacement as quickly as possibly once we have determined the issue. Please note we will likely need you to send us back the damaged goods.
                        </p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="faq-accordion-header" id="faq-heading-10">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq10" aria-expanded="true" aria-controls="faq10">
                    WHAT IS MY & LINN JEWELLERY MADE FROM?
                </button>
                </h2>
                <div id="faq10" class="accordion-collapse collapse" aria-labelledby="faq-heading-10" data-bs-parent="#faq-accordion">
                    <div class="accordion-body">
                        <p>
                            Our is made from 100% recycled metal. The Silver pieces are made of solid 925 Sterling Silver and the Gold pieces are Gold Vermeil, consisting of Sterling Silver with 3 microns of 18k Gold plating.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>

{% endblock %}
